.article-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.article-card-all {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article-card-all img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 0.5rem 0;
}
.article-card-all p {
  margin: 0.25rem 0;
  font-size: 0.95rem;
}

.article-card-all:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.article-card-specific {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.all-p-tags {
  margin: 0.25rem 0;
  font-size: 0.95rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.article-card-specific img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  margin-bottom: 0.5rem 0;
}
.article-card-specific p {
  margin: 0.25rem 0;
  font-size: 0.95rem;
}